@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url("https://use.typekit.net/dhn4agu.css");

.container {
    min-width: 600px;    
}

.nav-header {
    background-color: rgb(29, 33, 36);
    display: flex;
    justify-content: space-between;
    height: 68px;
    align-items: center;
    box-sizing: border-box;    
}

.site-logo {
    position: relative;
    height: 68px;   
    width: 175px;
}

.site-logo img {
    display: inline-block;
    background-color: rgb(26, 29, 32);
    padding: 20px;    
}

.site-logo strong {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color:  rgb(255, 255, 255);
    position: absolute;
    top: 20px;
    left: 80px;            
}

.main-menu-button {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color:  rgb(255, 255, 255);
    padding: 0 18px;
}

.search img {
    display: inline-block;
    background-color: rgb(26, 29, 32);
    padding: 26px;    
}

.the-latest-news {
    display: flex;
    flex-direction: column;
    align-items: center;    
    height: 375px;
    background-image: url(../img/bg1.jpeg);
    background-size:cover;
    background-position: 0 600px;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    color: white;
}

.the-latest-news span {
    margin-top: 127px;
}

.the-latest-news button {
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    height: 60px;
    width: 170px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.subscribe {
    background-color: rgb(137, 202, 98);
    margin-right: 20px;
}

.best-articles {
    background-color: rgb(20, 185, 210);
}


.most-popular-posts {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(242, 242, 242);    
}

.most-popular-posts h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: rgb(24, 180, 207);
    margin-top: 60px;    
    margin-bottom: 50px;
}

.special-posts-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;    
    height: 890px;
    width: 1170px;
    margin: 0 auto;
    padding: 0;   
}

.special-post {
    margin-bottom: 30px;
    width: 370px;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.5);
}

.special-post img {
    display: block;
    margin: 0;
    box-sizing: border-box;
}

.special-post h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 20px 0;
    text-align: center;    
}

.most-popular-clients {
    background-image: url(../img/bg2.jpeg);
    background-size: cover;
    background-position: 0 -100px;
    height: 585px;
    display: grid;
    grid-template-columns: 500px 1fr 1fr 1fr 1fr 500px;
    grid-template-rows:  150px 100px 100px 1fr 1fr 250px;
    grid-template-areas: 
    ". . . . . ."
    ". item1 item1 item1 item1 ."
    ". item2 item2 item2 item2 ."
    ". item3 item4 item5 item6 ."
    ". . . . . .";
    justify-items: center;
    align-items: center;
}

.pop-clients-section {
    grid-area: item1;
}

.blue-line {
    height: 3px;
    width: 60px;
    background-color: rgb(20, 185, 210);
    grid-area: item2;
}

.clients-companies-logo1 {
    display: block;
    grid-area: item3;
}

.clients-companies-logo2 {
    display: block;
    grid-area: item4;
}

.clients-companies-logo3 {
    display: block;
    grid-area: item5;
}

.clients-companies-logo4 {
    display: block;
    grid-area: item6;
}

.most-popular-clients h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: rgb(255, 255, 255);
    margin-top: 60px;    
    margin-bottom: 50px;
}

.top-rated-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: rgb(24, 180, 207);
    margin-top: 60px;    
    margin-bottom: 50px;
    text-align: center;
}

.top-rated-stretch {
    display: grid;
    grid-template-columns: repeat(7, calc(100%/7));
    grid-template-rows: 190px;
}

.top-rated-stretch-img {
    width: 100%;
    height: 100%;
}

.hot-news {
    width: 1170px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.hot-news-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: rgb(24, 180, 207);
    margin-top: 60px;    
    margin-bottom: 50px;
    text-align: center;
}

.hot-news-posts {
    display: grid;
    grid-template-rows: 260px 420px 420px 260px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-template-areas: 
    'post1 post1 post1 post2'
    'post3 post3 post4 post4'
    'post5 post5 post6 post6'
    'post7 post8 post8 post8';
    line-height: 1.6;
}

.hot-news span{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(24, 180, 207);
}

.hot-news-posts div {
    background-color: rgb(249, 247, 247);
}

.hot-news-posts h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(91, 100, 105);
}

.hot-news-posts span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgb(91, 100, 105);
}


.hot-news-post1 {
    grid-area: post1;
    display: flex;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.5);
}

.hot-news-post1 div {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: 40px;
    margin-right: 20px;
    justify-content: center;
}

.hot-news-post2 {
    grid-area: post2; 
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.5);
}

.hot-news-post2 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.hot-news-post3 {
    grid-area: post3;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.5);
    margin-right: 15px;
}

.hot-news-post3 img {
    width: 100%;
}

.hot-news-post3 h2 {
    margin: 10px 0 10px 0;
}

.hot-news-post3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
}

.hot-news-post4 {
    grid-area: post4;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.5);
    margin-left: 15px;
}

.hot-news-post4 img {
    width: 100%;
}

.hot-news-post4 h2 {
    margin: 10px 0 10px 0;
}

.hot-news-post4 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
}

.hot-news-post5 {
    grid-area: post5;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.5);
    margin-right: 15px;
}

.hot-news-post5 img {
    width: 100%;
}

.hot-news-post5 h2 {
    margin: 10px 0 10px 0;
}

.hot-news-post5 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
}

.hot-news-post6 {
    grid-area: post6;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.5);
    margin-left: 15px;
}

.hot-news-post6 img {
    width: 100%;
}

.hot-news-post6 h2 {
    margin: 10px 0 10px 0;
}

.hot-news-post6 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
}

.hot-news-post7 {
    grid-area: post7;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.5);
}

.hot-news-post7 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.hot-news-post8 {
    grid-area: post8;
    display: flex;
    box-shadow: 0px 5px 5px -2px rgba(0,0,0,0.5);
}

.hot-news-post8 div {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-left: 40px;
    margin-right: 20px;
    justify-content: center;
}

footer {
    height: 80px;
    background-color: rgb(29, 33, 36);
    margin: 70px auto 0 auto;
}

.site-designer-company {
    margin: 0 auto;
    width: 1170px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 800px 300px 70px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'href logo1 logo2';    
}

.site-designer-company a {
    grid-area: href;
    color: rgb(255, 255, 255);
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.designer-logo1 {
    grid-area: logo1;
    justify-self: end;
}

.designer-logo2 {
    grid-area: logo2;
    justify-self: end;
}









