.products {
  width: 50rem;
  max-width: 90%;
  margin: 2rem auto;
}

.products ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;

}

.products li {
  height: 350px;
  padding: 1rem;
  margin: 1rem 1rem;
  border: 1px solid #00179b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.itemImage {
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

